<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>サンプルのサイト</title>
    <%= stylesheet_link_tag 'test', :media => "all" %>
</head>

<body>

    <a href="#modal-01">
        <img class="lovecon" src="images/lovecon2.png">
    </a>
    
    <div class="modal-wrapper" id="modal-01">
        <a href="#!" class="modal-overlay"></a>
        <div class="modal-window">
            <div class="modal-content">
                <img class="love" src="images/love3.png" width="100%">
                <p class="name">2らぶ</p>
            </div>
            <a href="#!" class="modal-close">×</a>
        </div>
    </div>

</body>

</html>